ui-tienda/src/wsdl/localhost_8080/ProductoServiceImplService/ProductoServiceImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.tienda.ws.promerica.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.tienda.ws.promerica.com/">

<xs:element name="borrarProducto" type="tns:borrarProducto"/>

<xs:element name="borrarProductoResponse" type="tns:borrarProductoResponse"/>

<xs:element name="buscarProductoPorId" type="tns:buscarProductoPorId"/>

<xs:element name="buscarProductoPorIdResponse" type="tns:buscarProductoPorIdResponse"/>

<xs:element name="crearProducto" type="tns:crearProducto"/>

<xs:element name="crearProductoResponse" type="tns:crearProductoResponse"/>

<xs:element name="editarProducto" type="tns:editarProducto"/>

<xs:element name="editarProductoResponse" type="tns:editarProductoResponse"/>

<xs:element name="listarProductos" type="tns:listarProductos"/>

<xs:element name="listarProductosResponse" type="tns:listarProductosResponse"/>

<xs:complexType name="editarProducto">
<xs:sequence>
<xs:element name="arg0" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modified" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarProductoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductoPorId">
<xs:sequence>
<xs:element name="arg0" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductoPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProducto">
<xs:sequence>
<xs:element name="arg0" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProductoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="borrarProducto">
<xs:sequence>
<xs:element name="arg0" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarProductoResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>