ui-tienda/src/wsdl/localhost_8080/OrdenServiceImplService/OrdenServiceImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.tienda.ws.promerica.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.tienda.ws.promerica.com/">

<xs:element name="borrarOrden" type="tns:borrarOrden"/>

<xs:element name="borrarOrdenResponse" type="tns:borrarOrdenResponse"/>

<xs:element name="buscarOrdenPorId" type="tns:buscarOrdenPorId"/>

<xs:element name="buscarOrdenPorIdResponse" type="tns:buscarOrdenPorIdResponse"/>

<xs:element name="crearOrden" type="tns:crearOrden"/>

<xs:element name="crearOrdenResponse" type="tns:crearOrdenResponse"/>

<xs:element name="editarOrden" type="tns:editarOrden"/>

<xs:element name="editarOrdenResponse" type="tns:editarOrdenResponse"/>

<xs:element name="listarOrdenes" type="tns:listarOrdenes"/>

<xs:element name="listarOrdenesResponse" type="tns:listarOrdenesResponse"/>

<xs:complexType name="editarOrden">
<xs:sequence>
<xs:element name="arg0" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orden">
<xs:sequence>
<xs:element name="cantidad" type="xs:double" minOccurs="0"/>
<xs:element name="clienteId" type="tns:cliente" minOccurs="0"/>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modified" type="xs:dateTime" minOccurs="0"/>
<xs:element name="productoId" type="tns:producto" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modified" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modified" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarOrdenResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="borrarOrden">
<xs:sequence>
<xs:element name="arg0" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarOrdenResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="crearOrden">
<xs:sequence>
<xs:element name="arg0" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearOrdenResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarOrdenPorId">
<xs:sequence>
<xs:element name="arg0" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarOrdenPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarOrdenes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarOrdenesResponse">
<xs:sequence>
<xs:element name="return" type="tns:orden" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>