ui-tienda/src/wsdl/localhost_8080/ClienteServiceImplService/ClienteServiceImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.tienda.ws.promerica.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.tienda.ws.promerica.com/">

<xs:element name="borrarCliente" type="tns:borrarCliente"/>

<xs:element name="borrarClienteResponse" type="tns:borrarClienteResponse"/>

<xs:element name="buscarClientePorId" type="tns:buscarClientePorId"/>

<xs:element name="buscarClientePorIdResponse" type="tns:buscarClientePorIdResponse"/>

<xs:element name="crearCliente" type="tns:crearCliente"/>

<xs:element name="crearClienteResponse" type="tns:crearClienteResponse"/>

<xs:element name="editarCliente" type="tns:editarCliente"/>

<xs:element name="editarClienteResponse" type="tns:editarClienteResponse"/>

<xs:element name="listarClientes" type="tns:listarClientes"/>

<xs:element name="listarClientesResponse" type="tns:listarClientesResponse"/>

<xs:complexType name="editarCliente">
<xs:sequence>
<xs:element name="arg0" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modified" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarClienteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="crearCliente">
<xs:sequence>
<xs:element name="arg0" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearClienteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="borrarCliente">
<xs:sequence>
<xs:element name="arg0" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarClienteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarClientePorId">
<xs:sequence>
<xs:element name="arg0" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClientePorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>